<!-- -*-  mode: web; indent-tabs-mode: nil  -*- -->
<script lang="ts">
 import Select from "svelte-select";
 import * as requester from "./requester.js";
 import * as crypto from "./crypto.js";
 import { DAppClient, NetworkType } from "@airgap/beacon-sdk";

 const dAppName = "Signer";
 
 let token: string;
 let client: DAppClient;
 let message: string;
 let network: NetworkType;
 let payload: string;
 let permissions: any;
 let signature: string;

 let devMode: boolean = false;
 let showPayload: boolean = false;
 let msgs: string[] = [];

 interface SelectItem {
     label: string,
     value: string,
 }

 // Properties passed to the Select component to choose the Tezos network
 const networkSelector = {
     items: [
         { label: "delphinet", value: NetworkType.DELPHINET },
         { label: "mainnet", value: NetworkType.MAINNET },
         { label: "edonet", value: NetworkType.EDONET },
     ],
     selectedValue: undefined,
     placeholder: "Select network",
 }
 
 function handleSelect(event) {
     console.log("handleSelect", event)
     //networkSelector.selectedValue = event.detail
     network = event.detail.value
 }


 async function sign() {
     client = new DAppClient({
         name: dAppName,
         preferredNetwork: network,
     })

     await client.isConnected;
     await client.clearActiveAccount();

     msgs = [...msgs, "Requesting permissions"];
     permissions = await client.requestPermissions({
         network: {
             type: network,
         }
     })

     msgs = [...msgs, "Requesting signature"];
     signature = await client.requestSignPayload({
         payload: payload,
     })

     msgs = [...msgs, "Got signature"];
     
     notify()
 }

 async function notify() {
     const notification: requester.Notification = {
         token: token,
         message: message,
         network: network,
         publicKey: permissions.accountInfo.publicKey,
         signature: signature.signature,
     }

     const response = await requester.notify(BOT_HOST, notification)
     console.log(`response to notification`, response)
     for (const m of response.messages) {
         msgs = [...msgs, m]
     }
 }

 function toggleDevMode() {
     devMode = ! devMode;
 }

 function togglePayload() {
     showPayload = ! showPayload;
 }


 async function main() {
     try {
         token = new URLSearchParams(window.location.search).get("token");

         let tokenInfo: requester.TokenInfo
         try {
             tokenInfo = await requester.getTokenInfo(BOT_HOST, token)
         } catch (error) {
             msgs = [...msgs, `Cannot get token info: ${error}`]
             return
         }

         message = tokenInfo.message;
         payload = crypto.msgToBytes(tokenInfo.message);

     } catch (error) {
         console.error("error in main:", error);
     }
 }


 main();

</script>

<div class="header">
    <h1>Tezos Signature App</h1>
</div>

<div class="content">
    <div class="main">
        You are asked to sign this message with a Tezos wallet:
        <div class="message">
            { message }
        </div>

        <div class="show-payload">
            <button on:click="{togglePayload}">{ (showPayload) ? "hide" : "show" } hex</button>
        </div>
        {#if showPayload}
        <div class="payload" v-if="showPayload">
            { payload }
        </div>
        {/if}

        <div class="action">
            If you expected and agree with the message, choose a network
            
            <div class="network">
                <Select {...networkSelector} on:select={handleSelect}></Select>
            </div>
            and

            <button class="sign" on:click="{sign}">sign with your wallet</button>
        </div>
        
    </div>

    <ol class="msgs">
        {#each msgs as msg, i (i)}
            <li>{msg}</li>
        {/each}
    </ol>
</div>

<div class="footer">
    This app uses <a href="https://www.walletbeacon.io/">Beacon</a>
    <div class="dev-button">
        <button on:click="{toggleDevMode}">dev mode</button>
    </div>
 </div>

{#if devMode}
<div class="debug">
    <button on:click="{notify}">notify</button>
    <div>network = "{network}"</div>
    <div>message = "{message}"</div>
    <div>botHost = "{BOT_HOST}"</div>
    <div>payload = <div class="payload">{payload}</div></div>
    <div>permissions = <pre>{JSON.stringify(permissions, null, 4)}</pre></div>
    <div>signature = <pre>{JSON.stringify(signature, null, 4)}</pre></div>
</div>
{/if}

<style>
 div.header {
     color: white;
     background-color: #2C7DF7;
     padding-left: 2em;
     margin-bottom: 1em;
     border: 2px solid black;
 }

 div.content {
     padding: 2em;
 }

 div.message, div.payload {
     padding: 1em 2em 1em 2em;
     margin: 1em 0 1em 0;
     font-weight: bold;
     background: #EEE;
 }

 div.payload {
     word-wrap: break-word;
 }

 div.show-payload {
     display:flex;
     justify-content:flex-end;
     width:100%;
     padding:0;
     font-size: 80%;
 }

 div.show-payload button:hover {
     background-color: lightblue;
 }

 div.action {
     margin-top: 1em;
     display: flex;
 }

 button.sign {
     font-size: 120%;
     border-radius: 8px;
     transition-duration: 0.1s;
     //margin-top: 1em;
     margin-left: 1em;
 }

 button.sign:hover {
     background-color: lightblue;
 }

 div.network {
     width: 10em;
     margin: 0 1em 0 1em;
     flex-shrink: 0;
     --borderHoverColor: lightblue;
     --borderRadius: 8px;
     --inputFontSize: 120%;
 }

 div.footer {
     margin: 2em 0 2em 0;
     padding: 10px;
     color: #DDD;
     background: #2C7DF7;
     border: 2px solid black;
 }

 div.footer a {
     color: #DDD;
 }
 
 div.debug {
     padding: 2em;
 }

 div.dev-button {
     display:flex;
     justify-content:flex-end;
     width:100%;
     padding:0;
     font-size: 80%;
 }
 div.dev-button button {
     background-color: #2C7DF7;   
 }

 div.dev-button button:hover {
     background-color: lightblue;
 }
 
 div.payload {
     display: inline-block;
     overflow-wrap: anywhere;
 }
</style>
